extends layouts/_layout.pug

block variables
	- var activePage = 'charts';
	- var activeGroup = 'none';

block title
	title Charts - Vali Admin

block content
	.app-title
		div
			h1
				i.fas.fa-chart-pie
				|  Charts
			p Various type of charts for your project

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fas.fa-home.fa-lg
			li.breadcrumb-item
				a(href='#') charts

	.row
		.col-md-6
			.tile
				h3.tile-title Line Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="lineChartDemo")

		.col-md-6
			.tile
				h3.tile-title Bar Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="barChartDemo")

		.col-md-6
			.tile
				h3.tile-title Radar Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="radarChartDemo")

		.col-md-6
			.tile
				h3.tile-title Polar Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="polarChartDemo")

		.col-md-6
			.tile
				h3.tile-title Pie Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="pieChartDemo")

		.col-md-6
			.tile
				h3.tile-title Doughnut Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="doughnutChartDemo")


block specific-js
	script(type='text/javascript', src="js/plugins/Chart.min.js")
	script(type='text/javascript').
		var data = {
			labels: ["January", "February", "March", "April", "May"],
			datasets: [
				{
					label: "My First dataset",
					backgroundColor: "rgba(220,220,220,0.2)",
					borderColor: "rgba(220,220,220,1)",
					borderWidth: 2,
					pointBackgroundColor: "rgba(220,220,220,1)",
					pointBorderColor: "#fff",
					pointBorderWidth: 1,
					pointHoverBackgroundColor: "#fff",
					pointHoverBorderColor: "rgba(220,220,220,1)",
					data: [65, 59, 80, 81, 56]
				},
				{
					label: "My Second dataset",
					backgroundColor: "rgba(151,187,205,0.2)",
					borderColor: "rgba(151,187,205,1)",
					borderWidth: 2,
					pointBackgroundColor: "rgba(151,187,205,1)",
					pointBorderColor: "#fff",
					pointBorderWidth: 1,
					pointHoverBackgroundColor: "#fff",
					pointHoverBorderColor: "rgba(151,187,205,1)",
					data: [28, 48, 40, 19, 86]
				}
			]
		};
		var pdata = {
			labels: [
				"Red",
				"Green",
				"Yellow"
			],
			datasets: [{
				backgroundColor: [
					"#F7464A",
					"#46BFBD",
					"#FDB45C"
				],
				hoverBackgroundColor: [
					"#FF5A5E",
					"#5AD3D1",
					"#FFC870"
				],
				data: [300, 50, 100]
			}]
		};

		var ctxl = $("#lineChartDemo").get(0).getContext("2d");
		var lineChart = new Chart(ctxl, {
			type: 'line',
			data: data,
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				tooltips: {
					mode: 'index'
				}
			}
		});

		var ctxb = $("#barChartDemo").get(0).getContext("2d");
		var barChart = new Chart(ctxb, {
			type: 'bar',
			data: data,
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				}
			}
		});

		var ctxr = $("#radarChartDemo").get(0).getContext("2d");
		var radarChart = new Chart(ctxr, {
			type: 'radar',
			data: data,
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				}
			}
		});

		var ctxpo = $("#polarChartDemo").get(0).getContext("2d");
		var polarChart = new Chart(ctxpo, {
			type: 'polarArea',
			data: pdata,
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				}
			}
		});

		var ctxp = $("#pieChartDemo").get(0).getContext("2d");
		var pieChart = new Chart(ctxp, {
			type: 'pie',
			data: pdata,
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				}
			}
		});

		var ctxd = $("#doughnutChartDemo").get(0).getContext("2d");
		var doughnutChart = new Chart(ctxd, {
			type: 'doughnut',
			data: pdata,
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				}
			}
		});
